*
!.gitignore
!/.agents
!/.agents/skills
!/.agents/skills/preview-bot/
!/.agents/skills/preview-bot/SKILL.md
!.npmrc
!/.github
!/.github/workflows
!/.github/workflows/main.yml
!/.github/workflows/copy-production-to-preview.yml
!.dev.vars.example
!.dev.vars.production.example
!.dev.vars.preview.example
!.typesafe-i18n.json
!.changeset
!.changeset/*
!CHANGELOG.md
!releases.generated.json
!drizzle.config.ts
!drizzle.production.config.ts
!drizzle.preview.config.ts
!/drizzle
!/drizzle/*
!/drizzle/*/migration.sql
!/drizzle/*/snapshot.json
!AGENTS.md
!LICENSE
!MIGRATION_STATUS.md
!README.md
!/docs
!/docs/*.md
!/docs/*.json
!/docs/plans
!/docs/plans/*.md
!.oxfmtrc.json
!.oxlintrc.json
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!tsconfig.app.json
!worker-configuration.d.ts
!wrangler.jsonc
!/env
!/env/*.example
!/.mongo
!/.mongo/.gitkeep
!/.backups
!/.backups/.gitkeep
!/src
!/src/db
!/src/db/*.ts
!/src/db/schemas
!/src/db/schemas/*.ts
!/src/db/repositories
!/src/db/repositories/*.ts
!/src/worker
!/src/worker/*.ts
!/src/worker/routes
!/src/worker/routes/*.ts
!/src/worker/scheduled
!/src/worker/scheduled/*.ts
!/src/worker/queues
!/src/worker/queues/*.ts
!/src/bot
!/src/bot/*.ts
!/src/bot/runtime
!/src/bot/runtime/*.ts
!/src/bot/screens
!/src/bot/screens/*.ts
!/src/bot/services
!/src/bot/services/*.ts
!/src/bot/telegraph
!/src/bot/telegraph/*.ts
!/src/bot/content
!/src/bot/content/*.ts
!/src/bot/input
!/src/bot/input/*.ts
!/src/bot/utils
!/src/bot/utils/*.ts
!/src/bot/telegraf
!/src/bot/telegraf/*.ts
!/src/i18n
!/src/i18n/*.ts
!/src/i18n/uk
!/src/i18n/uk/*.ts
!/src/i18n/en
!/src/i18n/en/*.ts
!/src/i18n/pl
!/src/i18n/pl/*.ts
!/src/web
!/src/web/**
!/src/app
!/src/app/**
!/src/api
!/src/api/**
!/src/shared
!/src/shared/*.ts
!/src/**/*.tsx
!/public
!/public/**
!/scripts
!/scripts/cloudflare
!/scripts/cloudflare/*.ts
!/scripts/db
!/scripts/db/*.ts
!/scripts/releases
!/scripts/releases/*.ts
!/scripts/telegram
!/scripts/telegram/*.ts
!/scripts/web
!/scripts/web/*.ts
!/test
!/test/*.cjs
!/test/*.ts
!/test/*.tsx
!/test/fixtures
!/test/fixtures/*.ts
!/test/fixtures/mongo
!/test/fixtures/mongo/*.ts
!/test/integration
!/test/integration/*.ts
!/test/integration/*.tsx
!/types
!/types/*.d.ts
!/tools
!/tools/oxlint
!/tools/**/*.mjs
!cloudflared.example.yml
